#rotateMode{
  border-radius: 50%;
  width: 536px;
  height: 379px;
  color:white;
  position:relative;
 
}

#middle{
  position:absolute;
  top:60%;
  left:227px;
  transform:translateY(-50%);
  border-radius: 46%;
  background-color:#009ffd;
  color: white;
}

#left{
	position:absolute;
  top:60%;
  left:0px;
  transform:translateY(-50%);
  border-radius: 27%;
  background-color:#009ffd;
  color: white;
}

#right{
 position:absolute;
  top:60%;
  right:0px;
  transform:translateY(-50%);
  border-radius: 27%;
  background-color:#009ffd;
  color: white;
}

#up{
	position:absolute;
  top:0px;
  left:50%;
  transform:translateX(-50%);
  border-radius: 27%;
  background-color: #009ffd;
  color: white;
}

#down{
	position:absolute;
  top: 90%;
  left:50%;
  transform:translateX(-50%);
  border-radius: 27%;
  background-color: #009ffd;
  color: white;
}