#rotateMode{
  border-radius: 50%;
  width: 325px;
  height: 325px;
  background-color: rgb(35, 165, 79);
  color:white;
  position:relative;
 
}

#middle{
  position:absolute;
  top:50%;
  left:145px;
  transform:translateY(-50%);
}

#left{
	position:absolute;
  top:50%;
  left:0px;
  transform:translateY(-50%);
}

#right{
 position:absolute;
  top:50%;
  right:0px;
  transform:translateY(-50%);
}

#up{
	 position:absolute;
  top:0px;
  left:50%;
  transform:translateX(-50%);
}

#down{
	position:absolute;
  bottom:0px;
  left:50%;
  transform:translateX(-50%);
}